.center {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: all 1s;
}

.center.sticky {
    position: fixed;
    transition: all 1s;
    top: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    padding: .5em 0em;
    background-color: var(--white-smoke);
    z-index: 9999;
    padding: 1em 0em;
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    background-color: transparent;
    cursor: pointer;
    transition: all .8s;
}

.sticky .navContainer {
    margin-right: 2em;
    z-index: 999999;
    cursor: pointer;
}

.active-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
}


.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
}

.menu-container {
    z-index: 9999999;
    position: fixed;
    left: 0;
    transition: all 1s;
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    top: 80px;
    background-color: rgba(216, 217, 218, 0.99);
    background-color: var(--theme-blue);
    transform: translateX(-120%);
    transition: transform 0.3s;
}

.sticky .menu-container {
    height: auto;
}

.active {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.sticky .active {
    transform: translateX(0);
    width: 100%;
    height: auto;
    position: fixed;
}

.harmburger, .harmburger1, .harmburger2 {
    width: 2.5em;
    border-radius: .2em;
    height: .3em;
    margin: .1em;
    border: 2px solid var(--theme-blue);
    transition: all .5s;
}

.harmburger1 {
    width: 2em;
    height: .3em;
}

.harmburger2 {
    width: 1.8em;
}


.close {
    width: 1.8em;
    height: .3em;
}

.off {
    width: 2em;
    height: .3em;
}

.close1 {
    width: 2.5em;
    height: .3em;
}

.active ul {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container ul li a {
    font-family: var(--Montserrat);
    font-size: 1.1em;
    font-weight: 500;
    color: var(--theme-black);
}

.menu-container ul li a:hover {
    transform: scale(1.1);
    color: var(--theme-green);
}

.active ul li {
    align-content: center;
    margin-left: 5px;
    padding: 10px 0px;
    width: 100vw;
    border-bottom: 1px solid var(--brown);
}

.active ul li a {
    font-family: var(--Montserrat);
    font-size: 1.1em;
    padding-left: 2em;
    /* margin-bottom: 10em; */
    color: var(--white-smoke);
}


@media screen and (min-width: 900px) {

    .navContainer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-left: 10px;
        width: 100px;
    }

    .menu-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        transform: translateX(0%);
        background-color: transparent;
        margin-right: 3em;
    }

    .active ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        transform: translateX(0);
        list-style-type: none;
        margin: 0px;
        padding: 0;
    }

    li {
        display: inline;
        padding: 0 12px;
    }

    li a {
        color: white;
        color: var(--theme-color);
        top: 5px;
        text-align: center;
    }

    li a:hover {
        color: var(--brown) !important;
    }
}